{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.partner.enable }}
<section class="partner section" id="partner">
  <div class="container">
    {{ with $data.homepage.partner }}
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      {{ range .partner_item }}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
        <div class="partner-block">
          <p>{{ .content | markdownify }}</p>
          <div class="author-details">
            <img src="{{ .image | absURL }}" alt="{{ .name }}">
            <h4>{{ .name }}</h4>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}